@import "tailwindcss";
@keyframes loadbar {
  0% {
    transform: translateX(-120%);
  }
  50% {
    transform: translateX(70%);
  }
  100% {
    transform: translateX(230%);
  }
}

@keyframes logoPulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.08);
    opacity: 1;
  }
}